body {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    color: purple;
    background-color: #d8da3d
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

