<!DOCTYPE html>
<html>
    <head>
        <title>JBA Risk Test</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <script src="static/js/jquery-3.3.1.min.js"> </script>
        <script src="static/js/script.js"> </script>
    </head>
    <body>
        <h1>JBA Risk Test - Ian Webb</h1>
        <p>Calculate the expected damage of a risk, given the depth data, percentage of inundation and the vulnerability curve. </p>

            <form method="POST" action="/calc_expected_damage" enctype="multipart/form-data">
                <h2>Depth Data</h2>
                <p>Upload a CSV containing the depth data. If one is not provided, then the data supplied with the test task will be used.</p>
                <table>
                    <tr>
                        <td width="300">Depths CSV File:</td>
                        <td><input type="file" name="file" /><td>
                    </tr>
                    <tr>
                        <td>Percentage of postcode that is inundated:</td>
                        <td><input type="text" name="inundation_percentage" value="75" /><td>
                    </tr>
                </table>

                <br/>
                <h2>Vulnerability Curve</h2>
                <p>Adjust the vulnerability curve's depth ranges & associated damages, then press "Calculate Expected Damage".</p>
                <table>
                    <th colspan="3">Depth Range (m)</th>
                    <th>Damage(&pound;)</th>
                    {% for row in vulnerability_curve_data %}
                    <tr>
                        <td width="100"><input type="text" name="lower_boundary_{{loop.index0}}" value="{{row.lower_boundary}}"></td>
                        <td width="80" align="center">&lt; d &lt;=</td>
                        <td width="100"><input type="text" name="upper_boundary_{{loop.index0}}" value="{{row.upper_boundary}}"></td>
                        <td width="100"><input type="text" name="damage_{{loop.index0}}" value="{{row.damage}}"></td>
                    </tr>
                    {% endfor %}
                </table>

                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="button"/>Calculate Expected Damage </button
                <p><span id="expectedDamage" style="padding-left:10px;">&nbsp;</span></p>
            </form>




    </body>
</html>